.cards {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.card {
	padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin: 10px;
    flex-basis: 250px;
    flex-grow: 1;
}

.card img {
	width: 120px;
    border-radius: 6px;
}

.card h3 {
	flex-grow: 1;
    padding-left: 20px;
    font-size: 18px;
}